@import url('./b.css');
@import url('./theme.css');
@import './theme.css';

body {
  background-color: red;
  background-image: url('./image.png');
}

.hello {
  color: blue;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-overflow: ellipsis;
  text-wrap: wrap;
  text-overflow: ellipsis;
}

.button {
  background-color: primary-color;
  border-color: secondary-color;
  font-size: large-font;
}
